<div class="container-fluid bg-light text-center"> 
  <div class="row bg-danger">
    <img src="Menu.jpg" width="1920" height="621">
    Hola
</div>
<div class="container bg-secondary text-center"> 
  <div class="row">
    <div class="col-sm-2 col-lg-6">col1</div>
    <div class="col-sm-10 col-lg-6 ">col2</div> 
  </div>
  <div class="row">
    <div class="col">col1</div>
    <div class="col">col2</div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-lg-6">col1</div>
    <div class="col-sm-10 col-lg-6 ">col2</div>
  </div>
  <div class="row">
    <div class="col">col1</div>
    <div class="col">col2</div>
  </div>
</div>
<div class="container bg-danger text-center"> 
  <div class="row">
    <div class="col-sm-2 col-lg-6">col1</div>
    <div class="col-sm-10 col-lg-6 ">col2</div>
  </div>
  <div class="row">
    <div class="col">col1</div>
    <div class="col">col2</div>
  </div>
</div>
