<main>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/carousel1.jpg" class="d-block w-100" alt="Una tienda de flores">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/carousel2.jpg" class="d-block w-100" alt="Una tienda de flores">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/carousel3.jpg" class="d-block w-100" alt="Una tienda de flores">
      </div>
    </div>
    <button class="carousel-control-prev d-none d-lg-block" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next d-none d-lg-block" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="contenedor-principal">
    <div class="contenedor-secundario p-3">
      <div class="row CA mx-auto">
        <div class="col text-center CO">
          <div class="row CE">
            <div class="col-xl-12 text-center mx-auto">
              <h2>Flores Recientes</h2>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mt-5 mb-4">
              <div class="card mx-auto" style="width: 18rem;">
                <img src="../../assets/images/Flor1.jpg" class="card-img-top" alt="a">
                <div class="card-body">
                  <h5 class="card-title">Clásico Amor con 24 Rosas Rojas</h5>
                  <p class="card-text">$930.00 MXN</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mt-5 mb-4">
              <div class="card mx-auto" style="width: 18rem;">
                <img src="../../assets/images/Flor2.jpg" class="card-img-top" alt="a">
                <div class="card-body">
                  <h5 class="card-title">8 Rosas y Mini Rosas en Jarrón</h5>
                  <p class="card-text">$590.00 MXN</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mt-5 mb-4">
              <div class="card mx-auto" style="width: 18rem;">
                <img src="../../assets/images/Flor3.jpg" class="card-img-top" alt="a">
                <div class="card-body">
                  <h5 class="card-title">Ramo con Rosas Rosa Claro y Margaritas</h5>
                  <p class="card-text">$420.00 MXN</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mt-5 mb-4">
              <div class="card mx-auto" style="width: 18rem;">
                <img src="../../assets/images/Flor4.jpg" class="card-img-top" alt="a">
                <div class="card-body">
                  <h5 class="card-title">Ramo de 8 Rosas y Mini Rosas</h5>
                  <p class="card-text">$690.00 MXN</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-4">
              <div class="card mx-auto" style="width: 18rem;">
                <img src="../../assets/images/Flor5.jpg" class="card-img-top" alt="a">
                <div class="card-body">
                  <h5 class="card-title">Arreglo de Stargazers y Rosas</h5>
                  <p class="card-text">$790.00 MXN</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-4">
              <div class="card mx-auto" style="width: 18rem;">
                <img src="../../assets/images/Flor6.jpg" class="card-img-top" alt="a">
                <div class="card-body">
                  <h5 class="card-title">Kit Cumpleañero con Pastel y Globos</h5>
                  <p class="card-text">$1,119.00 MXN</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-4">
              <div class="card mx-auto" style="width: 18rem;">
                <img src="../../assets/images/Flor7.jpg" class="card-img-top" alt="a">
                <div class="card-body">
                  <h5 class="card-title">Orquídea Blanca en Maceta de Cristal</h5>
                  <p class="card-text">$1,110.00 MXN</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-4">
              <div class="card mx-auto" style="width: 18rem;">
                <img src="../../assets/images/Flor8.jpg" class="card-img-top" alt="a">
                <div class="card-body">
                  <h5 class="card-title">24 Rosas Rosa Claro en Maceta</h5>
                  <p class="card-text">$930.00 MXN</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-4">
              <div class="card mx-auto" style="width: 18rem;">
                <img src="../../assets/images/Flor9.jpg" class="card-img-top" alt="a">
                <div class="card-body">
                  <h5 class="card-title">Ramo de 5 tulipanes rojos con campanita</h5>
                  <p class="card-text">$790.00 MXN</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-4">
              <div class="card mx-auto" style="width: 18rem;">
                <img src="../../assets/images/Flor10.jpg" class="card-img-top" alt="a">
                <div class="card-body">
                  <h5 class="card-title">Ternura con 6 Rosas y Lilys en Jarrón</h5>
                  <p class="card-text">$600.00 MXN</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-4">
              <div class="card mx-auto" style="width: 18rem;">
                <img src="../../assets/images/Flor11.jpg" class="card-img-top" alt="a">
                <div class="card-body">
                  <h5 class="card-title">Rosas Rosas y Alstroemerias en Jarrón</h5>
                  <p class="card-text">$640.00 MXN</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-4">
              <div class="card mx-auto" style="width: 18rem;">
                <img src="../../assets/images/Flor12.jpg" class="card-img-top" alt="a">
                <div class="card-body">
                  <h5 class="card-title">Ramo con Rosas, Lilys y Decoraciones</h5>
                  <p class="card-text">$389.00 MXN</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-4">
              <div class="card mx-auto" style="width: 18rem;">
                <img src="../../assets/images/Flor13.jpg" class="card-img-top" alt="a">
                <div class="card-body">
                  <h5 class="card-title">Clásico Amor con 12 Rosas Rojas</h5>
                  <p class="card-text">$720.00 MXN</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-4">
              <div class="card mx-auto" style="width: 18rem;">
                <img src="../../assets/images/Flor14.jpg" class="card-img-top" alt="a">
                <div class="card-body">
                  <h5 class="card-title">100 Rosas Rosa Intenso en Jarrón</h5>
                  <p class="card-text">$3,430.00 MXN</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-4">
              <div class="card mx-auto" style="width: 18rem;">
                <img src="../../assets/images/Flor15.jpg" class="card-img-top" alt="a">
                <div class="card-body">
                  <h5 class="card-title">Arreglo de 12 Rosas Intenso en Jarrón</h5>
                  <p class="card-text">$930.00 MXN</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mb-4">
              <div class="card mx-auto" style="width: 18rem;">
                <img src="../../assets/images/Flor16.jpg" class="card-img-top" alt="a">
                <div class="card-body">
                  <h5 class="card-title">20 Tulipanes Rojos en Jarrón</h5>
                  <p class="card-text">$1,600.00 MXN</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>